@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zipcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.extraPickupDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extraPickupDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuspendStartDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuspendStartDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuspendEndDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuspendEndDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PickupStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
