@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <h3>Info</h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <h3>Pickups</h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PickupDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PickupDay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExtraPickupDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraPickupDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuspendStartDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuspendStartDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuspendEndDay)
        </dt>

        <dt>
            @Html.DisplayFor(model => model.SuspendEndDay)
        </dt>

        <dt>
            @Html.ActionLink("Edit", "Edit", new { Id = Model.Id });
        </dt>
    </dl>
</div>
<br />
<div>
    <h3>Current Bill</h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bill)
        </dd>
    </dl>
</div>
<p>
    @*add edit page for customer info*@
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id })*@ |
    @Html.ActionLink("Back to List", "Index")
</p>
